name: Deploy Selenium Grid
on:
  push:
    branches:
      - '*' 
jobs:
  dyni:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Ingest dynamic
      run: |
        echo "
        - name: Hello
          shell: bash
          run: |
            echo 'Hello Madnes!!'" >> ./.github/actions/dynamo/action.yaml
    - name: Expose
      uses: ./.github/actions/dynamo
      with: 
        names: "ADSF ASDSFD ASDSFDG"
